<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Product Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>homeproduct.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidServlet</display-name>
    <servlet-name>ValidServlet</servlet-name>
    <servlet-class>com.servlets.ValidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidServlet</servlet-name>
    <url-pattern>/ValidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidServlet</display-name>
    <servlet-name>InvalidServlet</servlet-name>
    <servlet-class>com.servlets.InvalidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidServlet</servlet-name>
    <url-pattern>/InvalidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllServlet</display-name>
    <servlet-name>ViewAllServlet</servlet-name>
    <servlet-class>com.servlets.ViewAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllServlet</servlet-name>
    <url-pattern>/ViewAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ordering</display-name>
    <servlet-name>Ordering</servlet-name>
    <servlet-class>com.servlets.Ordering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ordering</servlet-name>
    <url-pattern>/Ordering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.servlets.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBufferServlet</display-name>
    <servlet-name>CheckBufferServlet</servlet-name>
    <servlet-class>com.servlets.CheckBufferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBufferServlet</servlet-name>
    <url-pattern>/CheckBufferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVisitSessionServlet</display-name>
    <servlet-name>UserVisitSessionServlet</servlet-name>
    <servlet-class>com.session.UserVisitSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVisitSessionServlet</servlet-name>
    <url-pattern>/UserVisitSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.session.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
</web-app>